<footer class="page-footer" id="page-footer">
  {{> sections/disclaimer}}
  {{> sections/privacy-policy}}
  {{> sections/legal-notice}}
  <section class="content-info">
    {{> partials/social}}
    <p class="content-info__text">
      &copy; {{year}} <a class="content-info__link" href="{{twitter}}" target="_blank">{{author}}</a>. {{all-rights-reserved}}.
    </p>
    <div class="content-info__links">
      <a class="content-info__link tab-link" href="#disclaimer">{{disclaimer}}</a>
      <span class="content-info__separator">&middot;</span>
      <a class="content-info__link tab-link" href="#privacy-policy">{{privacy-policy}}</a>
      <span class="content-info__separator">&middot;</span>
      <a class="content-info__link tab-link" href="#legal-notice">{{legal-notice}}</a>
    </div>
  </section>
</footer>
