<section class="page-section about" id="about">
  <div class="page-section__inner">
    <h2 class="page-section__title">{{about-title}}</h2>

    <figure class="photo">
      <img class="photo__image" src="{{path}}images/photo.jpg" alt="{{author}}">
    </figure>

    <div class="page-section__content">
      <p>{{{about-tldr}}}</p>
      <p>{{{about-resume}}}</p>
      <p>{{{about-private}}}</p>
    </div>
  </div>
</section>
