<section class="page-section contact" id="contact">

  <div class="page-section__contact">
    <h2 class="page-section__title">{{contact-title}}</h2>
    <div class="page-section__content page-section__content--centered">
      <p>
        {{{contact-connect}}}
        <a href="{{twitter}}" target="_blank">Twitter</a>
        {{{contact-or}}}
        <a href="{{github}}" target="_blank">GitHub</a>
        {{{contact-or-just}}}
        <a href="mailto:{{mail}}">{{contact-email}}</a>.
      </p>
      <a href="mailto:{{mail}}?subject=Hello" class="btn btn--big">{{contact-button}}</a>
    </div>
  </div>

</section>
