<section class="page-section contact" id="contact">

  <div class="page-section__contact">
    <h2 class="page-section__title">{{contact-title}}</h2>
    <div class="page-section__content">
      <p>
        {{{contact-connect}}}
        <a href="{{twitter}}" target="_blank">Twitter</a>
        {{{contact-and}}}
        <a href="{{github}}" target="_blank">Github</a>.
      </p>
      <p>
        {{{contact-working}}}
        <a href="mailto:{{mail}}">{{contact-getintouch}}</a>.
      </p>
      <a href="mailto:{{mail}}?subject=Hello" class="btn btn--big">{{contact-button}}</a>
    </div>
    <a href="#home" class="scroll-up">
      <i class="icon-chevron-up"></i>
      <span class="scroll-up__title">{{scroll-up}}</span>
    </a>
  </div>

</section>
