<section class="footer-section disclaimer" id="disclaimer">
  <h3 class="footer-section__title">{{disclaimer}}</h3>
  <div class="footer-section__content">
    <h5>{{disclaimer-1}}</h5>
    {{{disclaimer-1-text}}}
    <h5>{{disclaimer-2}}</h5>
    {{{disclaimer-2-text}}}
    <h5>{{disclaimer-3}}</h5>
    {{{disclaimer-3-text}}}
    <h5>{{disclaimer-4}}</h5>
    {{{disclaimer-4-text}}}
    <h5>{{disclaimer-5}}</h5>
    {{{disclaimer-5-text}}}
  </div>
  <button class="close">
    <span class="close__min"></span> <span class="close__text">{{close}}</span>
  </button>
</section>
