<section class="page-section expertise" id="expertise">

  <div class="page-section__inner">

      <h2 class="page-section__title">{{expertise}}</h2>

      <div class="cards">

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{design}}}</h3>
            <div class="card__symbol">
              <i class="icon-design"></i>
            </div>
            <div class="card__content">
              <p>{{{design-description}}}</p>
            </div>
          </article>
        </div>

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{dev}}}</h3>
            <div class="card__symbol">
              <i class="icon-code"></i>
            </div>
            <div class="card__content">
              <p>{{{dev-description}}}</p>
            </div>
          </article>
        </div>

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{rwd}}}</h3>
            <div class="card__symbol">
              <i class="icon-rwd"></i>
            </div>
            <div class="card__content">
              <p>{{rwd-description}}</p>
            </div>
          </article>
        </div>

      </div>

  </div>

</section>
