<section class="page-section expertise">

  <div class="page-section__inner">

      <div class="cards">

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{expertise-1}}}</h3>
            <div class="card__symbol">
              <i class="icon-expertise-1"></i>
            </div>
            <div class="card__content">
              <p>{{{expertise-1-description}}}</p>
            </div>
          </article>
        </div>

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{expertise-2}}}</h3>
            <div class="card__symbol">
              <i class="icon-expertise-2"></i>
            </div>
            <div class="card__content">
              <p>{{{expertise-2-description}}}</p>
            </div>
          </article>
        </div>

        <div class="cards__item">
          <article class="card">
            <h3 class="card__title">{{{expertise-3}}}</h3>
            <div class="card__symbol">
              <i class="icon-expertise-3"></i>
            </div>
            <div class="card__content">
              <p>{{expertise-3-description}}</p>
            </div>
          </article>
        </div>

      </div>

  </div>

</section>
