<section class="home" id="home">
  <div class="messages">
    <section class="message">
      <h1 class="message__title message__title--one"><span class="message__title--white">{{firstname}}</span> {{lastname}}</h1>
      <p class="message__lead message__lead--one">{{{i-am}}}</p>
    </section>
    <section class="message">
      <h2 class="message__title message__title--two"><span class="message__title--white">{{profession-first}}</span> {{profession-last}}</h2>
      <p class="message__lead message__lead--two">{{{i-do}}}</p>
    </section>
  </div>
  <a href="#about" class="scroll-down"><i class="icon-chevron-down"></i><span class="scroll-down__title">{{scroll-down}}</span></a>
</section>
