<section class="imprint" id="imprint">
  <h2>Imprint</h2>
  <address>
    {{name}}<br>
    {{profession}}<br>
    {{address}}<br>
    {{zip}}<br>
    <a href="tel:{{phone}}">+43 660 540 25 84</a><br>
    <a href="mailto:{{mail}}">{{mail}}</a><br>
    <a href="https://twitter.com/glnnrys">{{twitter-user}}</a>
    <p>WKO Message: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, debitis?</p>
  </address>
</section>