<section class="footer-section legal-notice" id="legal-notice">
  <h3 class="footer-section__title">Legal Notice</h3>
  <div class="footer-section__content">
    <address>
      {{~company~}}<br>
      {{~profession~}}<br>
      {{~address~}}<br>
      {{~zipcitycountry~}}<br>
      Mail: <a href="mailto:{{mail}}">{{mail}}</a><br>
      Phone: <a href="tel:{{phone}}">+43 660 540 25 84</a><br>
      Twitter: <a href="https://twitter.com/glnnrys">{{twitter-user}}</a>
    </address>
    <p>WKO Message: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, debitis?</p>
    <p class="add-message">Credit to <a href="https://linearicons.com" target="_blank">Linearicons</a> (<a href="https://perxis.com" target="_blank">Perxis</a>)</p>
  </div>
  <button class="close">
    <span class="close__min"></span> <span class="close__text">Close</span>
  </button>
</section>
