<section class="legal-notice" id="legal-notice">
  <h2 class="legal-notice__title">Legal Notice</h2>
  <address>
    {{~company~}}<br>
    {{~profession~}}<br>
    {{~address~}}<br>
    {{~zipcitycountry~}}<br>
    Phone: <a href="tel:{{phone}}">+43 660 540 25 84</a><br>
    Mail: <a href="mailto:{{mail}}">{{mail}}</a><br>
    Twitter: <a href="https://twitter.com/glnnrys">{{twitter-user}}</a>
    <p>WKO Message: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, debitis?</p>
    <p class="add-message">Credit to <a href="https://linearicons.com" target="_blank">Linearicons</a> (<a href="https://perxis.com" target="_blank">Perxis</a>)</p>

  </address>
</section>
