<section class="footer-section legal-notice" id="legal-notice">
  <h3 class="footer-section__title">{{legal-notice}}</h3>
  <div class="footer-section__content">
    <h6>{{company}}</h6>
    <p>
      <strong>{{company-name}}</strong><br>
      {{company-description}}<br>
    </p>
    <p>
      Firmenbuch: FN 442052b<br>
      Handelsgericht Wien<br>
      Mitglied der <a class="footer-section__link" href="//www.wko.at" target="_blank">WKÖ Wien</a><br>
      Fachgruppe: Unternehmensberatung, Buchhaltung und Informationstechnologie
    </p>
    <h6>{{owner}}</h6>
    <p>
      {{company-owner}}
    </p>
    <h6>{{headquarter}}</h6>
    <address>
      {{address}}<br>
      {{zip-country}} {{city}}<br>
      {{phone}}: <a class="footer-section__link"
        href="tel:{{company-phone-compact}}">{{company-phone}}</a><br>
      {{email}}: <a class="footer-section__link" href="mailto:{{mail}}">{{mail}}</a>
        <br>
      {{web}}: <a class="footer-section__link" href="//{{homepage}}">{{homepage}}</a>
    </address>
    <h6>{{credit}}</h6>
    <p>
      Icons by <a class="footer-section__link"
        href="//linearicons.com" target="_blank">Linearicons</a>
        (<a class="footer-section__link" href="//perxis.com"
        target="_blank">Perxis</a>)
    </p>
  </div>
  <button class="close">
    <span class="close__min"></span> <span class="close__text">{{close}}</span>
  </button>
</section>
