<section class="page-section work" id="work">

  <div class="page-section__inner">

    <h2 class="page-section__title">{{work}}</h2>

    <section class="cards">

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-p7s1-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-p7s1.png" alt="{{work-p7s1}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{{work-p7s1}}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">HTML5-Video</span>
                <span class="tag">nexxar</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-vw-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-vw.png" alt="{{work-vw}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-vw}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">Parallax</span>
                <span class="tag">nexxar</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-metro-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-metro.png" alt="{{work-metro}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-metro}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">Parallax</span>
                <span class="tag">nexxar</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-3igroup-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-3igroup.png" alt="{{work-3igroup}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-3igroup}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">iPad</span>
                <span class="tag">nexxar</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-desesc-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-desesc.png" alt="{{work-desesc}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-desesc}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">WordPress</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-nxrlab-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-nxrlab.png" alt="{{work-nxrlab}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-nxrlab}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">WordPress</span>
                <span class="tag">nexxar</span>
              </p>
            </div>
          </a>
        </article>
      </div>

    </section>

  </div>

</section>
