<section class="page-section work" id="work">

  <div class="page-section__inner">

    <h2 class="page-section__title">{{work-title}}</h2>

    <section class="cards">

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-countup-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-countup.jpg" alt="{{work-countup}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{{work-countup}}}</h4>
              <p class="tags">
                <span class="tag">React</span>
                <span class="tag">React-Component</span>
                <span class="tag">Animation</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-iwh-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-iwh.jpg" alt="{{work-iwh}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{{work-iwh}}}</h4>
              <p class="tags">
                <span class="tag">React</span>
                <span class="tag">Redux</span>
              </p>
              <p class="card__description"><small>{{work-by-styria}}</small></p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-papp-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-papp.jpg" alt="{{work-papp}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{{work-papp}}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">WordPress</span>
                <span class="tag">UX</span>
              </p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-p7s1-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-p7s1.jpg" alt="{{work-p7s1}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{{work-p7s1}}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">UX</span>
                <span class="tag">Background-Video</span>
              </p>
              <p class="card__description"><small>{{work-by-nexxar}}</small></p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-vw-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-vw.jpg" alt="{{work-vw}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-vw}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">Parallax</span>
                <span class="tag">Gyroscope</span>
              </p>
              <p class="card__description"><small>{{work-by-nexxar}}</small></p>
            </div>
          </a>
        </article>
      </div>

      <div class="cards__item">
        <article class="card">
          <a class="card__link" href="{{work-metro-url}}" target="_blank">
            <figure class="card__photo">
              <img class="card__image" src="{{path}}images/screen-metro.jpg" alt="{{work-metro}}" />
            </figure>
            <div class="card__content card__content--monkey">
              <h4 class="card__title">{{work-metro}}</h4>
              <p class="tags">
                <span class="tag">RWD</span>
                <span class="tag">Parallax</span>
              </p>
              <p class="card__description"><small>{{work-by-nexxar}}</small></p>
            </div>
          </a>
        </article>
      </div>

    </section>

  </div>

</section>
